## Multivariate imputation via chained equations (mice)

Minimal experiment with MICE on iris data

In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

In [4]:
iris = pd.read_csv("datasets/iris_data.csv")

In [5]:
iris['class'] = LabelEncoder().fit_transform(iris['class'])

In [36]:
iris.head(20)

    sepal length  sepal width  petal length  petal width  class
0            5.1          3.5           1.4          0.2      0
1            4.9          3.0           1.4          0.2      0
2            4.7          3.2           1.3          0.2      0
3            4.6          3.1           1.5          0.2      0
4            5.0          3.6           1.4          0.2      0
5            5.4          3.9           1.7          0.4      0
6            4.6          3.4           1.4          0.3      0
7            5.0          3.4           1.5          0.2      0
8            4.4          2.9           1.4          0.2      0
9            4.9          3.1           1.5          0.1      0
10           5.4          3.7           1.5          0.2      0
11           4.8          3.4           1.6          0.2      0
12           4.8          3.0           1.4          0.1      0
13           4.3          3.0           1.1          0.1      0
14           5.8          4.0           1.2          0.2      0
15           5.7          4.4           1.5          0.4      0
16           5.4          3.9           1.3          0.4      0
17           5.1          3.5           1.4          0.3      0
18           5.7          3.8           1.7          0.3      0
19           5.1          3.8           1.5          0.3      0

In [7]:
iris.loc[iris.sample(frac=0.1, random_state = 418).index, "petal length"] = np.nan
iris.loc[iris.sample(frac=0.1, random_state = 418).index, "sepal width"] = np.nan

In [8]:
iris_MV = iris

In [9]:
iris = pd.read_csv("datasets/iris_data.csv")
iris['class'] = LabelEncoder().fit_transform(iris['class'])

In [22]:
idx = iris_MV.index[iris_MV['petal length'].isna() | iris_MV['sepal width'].isna()]

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imp_mean = IterativeImputer(estimator=RandomForestRegressor(), random_state=0)
imp_mean.fit(iris_MV)
display(pd.DataFrame(imp_mean.transform(iris_MV)))
imputed = pd.DataFrame(imp_mean.transform(iris_MV))

       0    1    2    3    4
0    5.1  3.5  1.4  0.2  0.0
1    4.9  3.0  1.4  0.2  0.0
2    4.7  3.2  1.3  0.2  0.0
3    4.6  3.1  1.5  0.2  0.0
4    5.0  3.6  1.4  0.2  0.0
..   ...  ...  ...  ...  ...
145  6.7  3.0  5.2  2.3  2.0
146  6.3  2.5  5.0  1.9  2.0
147  6.5  3.0  5.2  2.0  2.0
148  6.2  3.4  5.4  2.3  2.0
149  5.9  3.0  5.1  1.8  2.0

[150 rows x 5 columns]

In [16]:
y_test = iris.iloc[idx][['sepal width','petal length']]

In [23]:
idx

Int64Index([9, 10, 17, 29, 40, 54, 57, 58, 62, 63, 67, 74, 76, 97, 132], dtype='int64')

In [37]:
predicted = imputed.iloc[idx][[1,2]]

In [38]:
predicted

            1         2
9    3.092000  1.494000
10   3.624000  1.520333
17   3.732000  1.526000
29   3.183333  1.335000
40   3.360000  1.531000
54   3.113000  4.576000
57   2.246000  3.381000
58   2.939000  4.291000
62   2.649000  4.013000
63   2.843000  4.426000
67   2.574000  3.603000
74   2.841000  4.307000
76   3.123000  4.595000
97   2.439000  4.230000
132  3.115000  5.513000

In [31]:
y_test

     sepal width  petal length
9            3.1           1.5
10           3.7           1.5
17           3.5           1.4
29           3.2           1.6
40           3.5           1.3
54           2.8           4.6
57           2.4           3.3
58           2.9           4.6
62           2.2           4.0
63           2.9           4.7
67           2.7           4.1
74           2.9           4.3
76           2.8           4.8
97           2.9           4.3
132          2.8           5.6

In [39]:
r2_score(predicted, y_test)

0.8122685357484639